section {
  width: 100%;
  margin: 2em 0;
}

.carousel-wrapper {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
  display: block;
  justify-content: stretch;
  height: 400px;
}

.carousel {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
  gap: 5px;
}
.carousel-item {
  height: 400px;
  width: 0;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-item-inner {
  width: 1020px;
  height: 400px;
}
